eval "$(lorri direnv)"
eval "$(chmod +x $PWD/.bin/*)"

export PATH=$PATH:"$PWD/node_modules/.bin":"$PWD/.bin"
export DB_USERNAME="skira"
export DB_PASSWORD="skira"
export DB_NAME="skira"
export TEST_DB_NAME="${db_name}_test"
export PATH=$PATH:$PWD/node_modules/.bin
export PGDATA=$PWD/.postgres_data
export PGHOST=$PWD/.postgres
export LOG_PATH=$PWD/.postgres/LOG
export PGDATABASE=${DB_NAME}
export DATABASE_URL="postgresql:///postgres?host=$PGHOST"
export PG_COLOR="always"
